In [1]:
import pandas as pd

In [4]:
data_path = '../data/nashville_pd_slice.csv'

In [14]:
df = pd.read_csv(data_path)

In [15]:
df.head()

,Event Number,Call Received,Complaint Number,Tencode,Tencode Description,Tencode Suffix,Tencode Suffix Description,Disposition Code,Disposition Description,Block,Street Name,Unit Dispatched,Shift,Sector,Zone,RPA,Latitude,Longitude,Mapped Location
0,PD201701073542,10/22/2017 10:42:31 PM,NaN,43,WANT OFFICER FOR INVESTIGATION / ASSISTA,P,PROGRESS,2W,NaN,NaN,NaN,515B,B,S,311,8147.0,NaN,NaN,NaN
1,PD201500686601,06/26/2015 11:45:30 PM,NaN,93,TRAFFIC VIOLATION,NaN,NaN,9T,NaN,NaN,NaN,423B,C,C,413,1133.0,NaN,NaN,NaN
2,PD201801149095,11/28/2018 11:30:13 AM,NaN,3,NaN,NaN,NaN,4,ASSISTED CITIZEN,400.0,2ND AV N,2F15,A,NaN,NaN,NaN,NaN,NaN,NaN
3,PD202100130941,02/25/2021 11:03:07 PM,NaN,96,BUSINESS CHECK,NaN,NaN,4,ASSISTED CITIZEN,NaN,NaN,2P68,C,E,221,1979.0,NaN,NaN,NaN
4,PD201500484393,05/08/2015 10:44:38 AM,NaN,96,BUSINESS CHECK,NaN,NaN,4,ASSISTED CITIZEN,NaN,NaN,815B,A,PCW,NaN,NaN,NaN,NaN,NaN

In [16]:
df.shape

(10000, 19)

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 19 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Event Number                10000 non-null  object
 1   Call Received               10000 non-null  object
 2   Complaint Number            851 non-null    float64
 3   Tencode                     10000 non-null  int64
 4   Tencode Description         9745 non-null   object
 5   Tencode Suffix              6031 non-null   object
 6   Tencode Suffix Description  5237 non-null   object
 7   Disposition Code            9960 non-null   object
 8   Disposition Description     7839 non-null   object
 9   Block                       2260 non-null   float64
 10  Street Name                 2699 non-null   object
 11  Unit Dispatched             9309 non-null   object
 12  Shift                       10000 non-null  object
 13  Sector                      7773 non-null   object
 14  Zone                        8727 non-null   object
 15  RPA                         7996 non-null   float64
 16  Latitude                    1312 non-null   float64
 17  Longitude                   1312 non-null   float64
 18  Mapped Location             1312 non-null   object
dtypes: float64(5), int64(1), object(13)
memory usage: 1.4+ MB

In [18]:
df.describe()

,Complaint Number,Tencode,Block,RPA,Latitude,Longitude
count,8.510000e+02,10000.000000,2260.000000,7996.000000,1312.000000,1312.000000
mean,2.018087e+10,66.207700,2406.238938,5994.981866,35.985592,-86.351133
std,1.965526e+07,84.099312,2242.796943,9504.711316,2.441092,5.855890
min,2.015001e+10,3.000000,0.000000,0.000000,0.000000,-87.033000
25%,2.016104e+10,43.000000,500.000000,1829.000000,36.087000,-86.821000
50%,2.018067e+10,70.000000,1750.000000,4627.000000,36.149000,-86.736000
75%,2.020028e+10,93.000000,3900.000000,8525.000000,36.198000,-86.675000
max,2.022002e+10,8000.000000,15100.000000,95040.000000,36.382000,0.000000